<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger\(%L\) - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
  
<!--   <logger name="org.hibernate" level="INFO" /> -->
  <logger name="org.hibernate.cfg" level="INFO" />
  <logger name="org.hibernate.engine.jdbc" level="INFO" />
  <logger name="org.hibernate.hql.internal.ast" level="INFO" />
  <logger name="org.hibernate.id.factory.internal" level="INFO" />
  <logger name="org.hibernate.loader.plan" level="INFO" />
  <logger name="org.hibernate.type" level="INFO" />
  
</configuration>